:root {
  --base-color: #1f1940;
  --base-variant: #181331;
  --text-color: #e6f0ff;
  --text-variant: #d2dcf5;
  --accent-color: #1fc2d8;
  --accent-variant: #d525c9;
}

.lightmode {
  --base-color: #d2dcf5;
  --base-variant: #e6f0ff;
  --text-color: #1f1940;
  --text-variant: #181331;
  --accent-color: #d525c9;
  --accent-variant: #1fc2d8;
}

#theme-switch {
  display: inline;
  margin-right: 200px;
  height: 27px;
  width: 27px;
  border-radius: 20%;
  border-color: var(--text-color);
  background-color: var(--base-color);
}

#theme-switch:hover {
  border-color: var(--accent-color);
}

#theme-switch svg {
  fill: var(--text-color);
}

#theme-switch svg:hover {
  fill: var(--accent-color);
}

#theme-switch svg:last-child {
  display: none;
}

.lightmode #theme-switch svg:first-child {
  display: none;
}

.lightmode #theme-switch svg:last-child {
  display: block;
  fill: var(--text-color);
}

.lightmode #theme-switch svg:last-child:hover {
  fill: var(--accent-color);
}

/* STYLE SECTIONINGS */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--base-variant);
}

main {
  margin: 0 200px;
}

.hero-section {
  margin-top: 6em;
  display: flex;
  align-items: center;
  gap: 8em;
}

/* STYLE TEXT */
.hero-title {
  font-family: "Baumans", system-ui;
  color: var(--text-color);
  font-size: 3.2em;
  margin-bottom: 0.5em;
}

.hero-subtitle {
  font-family: "Montserrat", sans-serif;
  color: var(--text-variant);
  font-size: 1.5em;
}

/* STYLE IMAGES */
.hero-image {
  max-width: 320px;
  min-width: 180px;
  width: 100%;
  aspect-ratio: 1/1;
}

.hero-image img {
  width: 100%;
  height: auto;
}

/* STYLE BUTTONS */

/* STYLE NAV BAR */
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  padding: 1.5em 0;
  padding-top: 2em;
  background-color: var(--base-color);
  color: var(--text-color);
  font-size: 1.2em;
}

.nav-list {
  list-style-type: none;
  margin-left: 200px;
}

.nav-list li {
  display: inline;
  margin-right: 2em;
  font-weight: 500;
}

.nav-list li:hover {
  color: var(--accent-color);
}

/* STYLE FOOTER */
