:root {
  --base-color: #1f1940;
  --base-variant: #181331;
  --text-color: #e6f0ff;
  --text-variant: #d2dcf5;
  --accent-color: #1fc2d8;
  --accent-variant: #d525c9;
}

.lightmode {
  --base-color: #d2dcf5;
  --base-variant: #e6f0ff;
  --text-color: #1f1940;
  --text-variant: #181331;
  --accent-color: #d525c9;
  --accent-variant: #1fc2d8;
}

#theme-switch {
  display: inline;
  margin-right: 200px;
  height: 27px;
  width: 27px;
  border-radius: 20%;
  border-color: var(--text-color);
  background-color: var(--base-color);
}

#theme-switch:hover {
  border-color: var(--accent-color);
}

#theme-switch svg {
  fill: var(--text-color);
}

#theme-switch svg:hover {
  fill: var(--accent-color);
}

#theme-switch svg:last-child {
  display: none;
}

.lightmode #theme-switch svg:first-child {
  display: none;
}

.lightmode #theme-switch svg:last-child {
  display: block;
  fill: var(--text-color);
}

.lightmode #theme-switch svg:last-child:hover {
  fill: var(--accent-color);
}

/* STYLE SECTIONINGS */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--base-variant);
  font-family: "Montserrat", sans-serif;
}

main {
  margin: 0 200px;
}

.hero-section {
  margin-top: 14em;
  display: flex;
  align-items: center;
  gap: 8em;
}

.about-section {
  margin-top: 8em;
}

.projects-section {
  margin-top: 8em;
}

.contact-section {
  margin-top: 8em;
}

/* STYLE TEXT */
.hero-title {
  font-family: "Baumans", system-ui;
  color: var(--text-color);
  font-size: 3.2em;
  margin-bottom: 0.5em;
}

.hero-subtitle {
  color: var(--text-variant);
  font-size: 1.6em;
}

.section-title {
  font-family: "Baumans", system-ui;
  color: var(--text-color);
  font-size: 2.4em;
}

.about-text {
  font-size: 1.5em;
  color: var(--text-variant);
}

.about-text p:first-child {
  margin: 1em 0;
}

#about-skills {
  padding: 50px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1em;
}

.skill {
  margin-bottom: 20px;
}

.skill span {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
}

.progress-bar {
  background: var(--base-color);
  border-radius: 8px;
  overflow: hidden;
  height: 10px;
}

.progress {
  height: 100%;
  background: var(--accent-color);
  width: 0;
  transition: width 1.5s ease;
}

/* STYLE IMAGES */
.hero-image {
  max-width: 300px;
  min-width: 240px;
  width: 100%;
  aspect-ratio: 1/1;
}

.hero-image img {
  width: 100%;
  height: auto;
}

/* STYLE BUTTONS */

/* STYLE NAV BAR */
.nav-bar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5em 0;
  padding-top: 2em;
  background-color: var(--base-color);
  font-size: 1.2em;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.nav-list {
  list-style-type: none;
  margin-left: 200px;
}

.nav-list li {
  display: inline;
  margin-right: 3em;
  font-weight: 500;
}

.nav-list li:last-child {
  margin-right: 6em;
}

.nav-list a:hover {
  color: var(--accent-color);
}

.nav-list a {
  text-decoration: none;
  color: var(--text-color);
}

/* STYLE FOOTER */
